<form autocomplete="off">

    <!-- Details Tab -->
    <header class="form-header">
        <h3><i class="far fa-image"></i> {{localize "SCENES.HeaderDetails"}}</h3>
    </header>
    <p class="notes">{{localize "SCENES.HeaderDetailsHint"}}</p>

    <div class="form-group">
        <label>{{localize "SCENES.SceneName"}}</label>
        <div class="form-fields">
            <input type="text" name="name" placeholder="Name" value="{{name}}" data-dtype="String"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.Accessibility"}}</label>
        <div class="form-fields">
            <label class="checkbox">
                {{localize "SCENES.ShowNav"}}
                <input type="checkbox" name="navigation" value="1" data-dtype="Boolean" {{checked navigation}}/>
            </label>
            <select name="permission.default" data-dtype="Number">
            {{#select permission.default}}
                <option value="0">{{localize "SCENES.AccessibilityGM"}}</option>
                <option value="3">{{localize "SCENES.AccessibilityAll"}}</option>
            {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.NavName"}}</label>
        <div class="form-fields">
            <input type="text" name="navName" value="{{navName}}" data-dtype="String"/>
        </div>
    </div>

    <p class="notes">{{localize "SCENES.BackgroundImageHint"}}</p>
    <div class="form-group">
        <label>{{localize "SCENES.BackgroundImage"}}</label>
        <div class="form-fields">
            {{filePicker target="img" type="imagevideo"}}
            <input class="image" type="text" name="img" placeholder="{{localize 'File Path'}}" value="{{img}}"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.Dimensions"}} <span class="units">({{localize "SCENES.Pixels"}})</span></label>
        <div class="form-fields">
            <input type="number" name="width" placeholder="{{localize 'SCENES.Pixels'}}" value="{{width}}"/>
            <span class="sep">by</span>
            <input type="number" name="height" placeholder="{{localize 'SCENES.Pixels'}}" value="{{height}}"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.Padding"}}</label>
        <div class="form-fields">
            <input type="range" name="padding" value="{{padding}}" min="0" max="0.5" step="0.05" data-dtype="Number"/>
            <input type="text" name="paddingLabel" value="{{padding}}" class="range-value" disabled/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.BackgroundColor"}}</label>
        <div class="form-fields">
            <input type="text" name="backgroundColor" value="{{backgroundColor}}" data-dtype="String"/>
            <input type="color" name="backgroundColorPicker" value="{{backgroundColor}}" data-edit="backgroundColor"/>
        </div>
    </div>

    <!-- Grid Configuration -->
    <header class="form-header">
        <h3 class="form-header"><i class="fas fa-ruler"></i> {{localize "SCENES.HeaderGrid"}}</h3>
    </header>
    <p class="notes">{{localize "SCENES.HeaderGridHint"}}</p>

    <div class="form-group">
        <label>{{localize "SCENES.GridType"}}</label>
        <div class="form-fields">
            <select name="gridType" data-dtype="Number">
            {{#select gridType}}
            {{#each gridTypes as |label t|}}
                <option value="{{t}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.GridSize"}} <span class="units">({{localize "SCENES.Pixels"}})</span></label>
        <div class="form-fields">
            <input type="text" name="grid" placeholder="{{localize 'SCENES.Pixels'}}" value="{{grid}}" data-dtype="Number"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.ShiftBG"}} <span class="units">({{localize "SCENES.Pixels"}})</span></label>
        <div class="form-fields">
            <label class="grid-label">{{localize "SCENES.ShiftHorizontal"}}</label>
            <input type="number" name="shiftX" placeholder="{{localize 'SCENES.Pixels'}}" value="{{shiftX}}"/>
            <label class="grid-label">{{localize "SCENES.ShiftVertical"}}</label>
            <input type="number" name="shiftY" placeholder="{{localize 'SCENES.Pixels'}}" value="{{shiftY}}"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.GridScale"}}</label>
        <div class="form-fields">
            <label class="grid-label">{{localize "SCENES.GridDistance"}}</label>
            <input type="number" step="any" name="gridDistance" placeholder="5" value="{{gridDistance}}"/>
            <label class="grid-label">{{localize "SCENES.GridUnits"}}</label>
            <input type="text" name="gridUnits" placeholder="ft" value="{{gridUnits}}"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.GridColor"}}</label>
        <div class="form-fields">
            <input type="text" name="gridColor" value="{{gridColor}}" data-dtype="String"/>
            <input type="color" name="gridColorPicker" value="{{gridColor}}" data-edit="gridColor"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.GridOpacity"}}</label>
        <div class="form-fields">
            <input type="range" name="gridAlpha" value="{{gridAlpha}}" min="0" max="1" step="0.05" data-dtype="Number"/>
            <input type="text" name="gridAlphaLabel" value="{{gridAlpha}}" class="range-value" disabled/>
        </div>
    </div>

    <!-- Lighting and Vision -->
    <header class="form-header">
        <h3 class="form-header"><i class="fas fa-lightbulb"></i> {{localize "SCENES.HeaderVision"}}</h3>
    </header>
    <p class="notes">{{ localize "SCENES.HeaderVisionHint" }}</p>

    <div class="form-group">
        <label>{{localize "SCENES.TokenVision"}}</label>
        <input type="checkbox" name="tokenVision" {{checked tokenVision}}/>
        <p class="notes">{{localize "SCENES.TokenVisionHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.GlobalIllum"}}</label>
        <input type="checkbox" name="globalLight" {{checked globalLight}}/>
        <p class="notes">{{localize "SCENES.GlobalIllumHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.FogExplore"}}</label>
        <input type="checkbox" name="fogExploration" {{checked fogExploration}}/>
        <p class="notes">{{localize "SCENES.FogExploreHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.Darkness"}}</label>
        <div class="form-fields">
            <input type="range" name="darkness" value="{{darkness}}" min="0" max="1" step="0.05" data-dtype="Number"/>
            <input type="text" name="darknessLabel" value="{{darkness}}" class="range-value" disabled/>
        </div>
        <p class="notes">{{localize "SCENES.DarknessHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.GlobalLightThreshold"}}</label>
        <div class="form-fields">
            <label class="checkbox">
               <input type="checkbox" name="hasGlobalThreshold" {{ checked hasGlobalThreshold }}/>
            </label>
            <input type="range" name="globalLightThreshold" value="{{globalLightThreshold}}" min="0" max="1" step="0.05" data-dtype="Number"/>
            <input type="text" name="globalLightThresholdLabel" value="{{globalLightThreshold}}" class="range-value" disabled/>
        </div>
        <p class="notes">{{localize "SCENES.GlobalLightThresholdHint"}}</p>
    </div>

    <!-- Ambience and Atmosphere -->
    <header class="form-header">
        <h3 class="form-header"><i class="fas fa-cloud-sun"></i> {{localize "SCENES.HeaderAmbience"}}</h3>
    </header>
    <p class="notes">{{localize "SCENES.HeaderAmbienceHint"}}</p>

    <div class="form-group">
        <label>{{localize "SCENES.JournalNotes"}}</label>
        <select name="journal" data-dtype="String">
            <option value=""></option>
            {{#select journal}}
            {{#each journals}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "SCENES.JournalNotesHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.AudioPlaylist"}}</label>
        <select name="playlist" data-dtype="String">
            <option value=""></option>
            {{#select playlist}}
            {{#each playlists}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "SCENES.AudioPlaylistHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.WeatherEffect"}}</label>
        <select name="weather" data-dtype="String">
            <option value=""></option>
            {{#select weather}}
            {{#each weatherTypes as |label t|}}
            <option value="{{t}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "SCENES.WeatherEffectHint"}}</p>
    </div>

    <!-- Form Submission -->
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
        </button>
        <button type="button" name="reset-all">
            <i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}
        </button>
    </footer>
</form>